<!-- Begin page content -->
<main role="main" class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">DOM XSS</h4>
          <p class="card-text">DOM XSS via url hash</p>
          <a href="/samples/dom/hash#document.write('<h1>test</h1>')" class="btn btn-primary">Check this out</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Reflected XSS</h4>
          <p class="card-text">Reflected XSS via url query param</p>
          <a href="/samples/reflected/simple?text=text" class="btn btn-primary">Check this out</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Reflected XSS inside JSON.stringify</h4>
          <p class="card-text">Reflected XSS via url query param inside JSON.stringify</p>
          <a href="/samples/reflected/json?text=text" class="btn btn-primary">Check this out</a>
        </div>
      </div>
    </div>
  </div>
</main>