<!-- Begin page content -->
<main role="main" class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">DOM XSS</h4>
          <p class="card-text">DOM XSS via url hash</p>
          <a href="/samples/domxss-hash" class="btn btn-primary">Check this out</a>
        </div>
      </div>
    </div>
  </div>
</main>